{% extends "layout.html" %}
{% block content %}
<h2>廊坊订药短信生成</h2>
<form method="POST">
  {% for i in range(1, 4) %}
    <fieldset>
      <legend>第{{ i }}批</legend>
      <label><input type="checkbox" name="enable_batch{{ i }}" {% if batches[i-1]["enabled"] %}checked{% endif %}> 启用</label><br>
      <label>FDG 剂量 (mCi): <input type="number" name="dose{{ i }}" value="{{ batches[i-1]['dose'] }}"></label><br>
      <label>刻度到时间: <input type="text" name="scale{{ i }}" value="{{ batches[i-1]['scale_time'] }}"></label><br>
      <label>送达时间: <input type="text" name="arrive{{ i }}" value="{{ batches[i-1]['arrive_time'] }}"></label><br>
    </fieldset>
  {% endfor %}
  <button type="submit">生成短信</button>
</form>

{% if sms_text %}
  <h3>短信内容</h3>
  <pre>{{ sms_text }}</pre>
{% endif %}
{% endblock %}
